[Unit]
Description=Enable NAT66 on Startup
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=bash -c 'for i in {{1..9},{a..f}}; do ip6tables -t nat -A POSTROUTING -s fd00:dead:2bad:$i::0/64 -j MASQUERADE; done'
ExecStop=bash -c 'for i in {{1..9},{a..f}}; do ip6tables -t nat -D POSTROUTING -s fd00:dead:2bad:$i::0/64 -j MASQUERADE; done'
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
